# Отчет по лабораторной работе №4. Анализ данных пассажиров «Титаника»

## Выполнение работы
В рамках лабораторной работы было выполнено:
1. Открыли файл в Google Colab (используйте собственный форк репозитория).
2. Решили задачи.
3. Сохранили результат в репозиторий github в директорию `./les04`.
4. Создали *pull request* в репозиторий: [https://github.com/chebotarevsa/dap-2024](https://github.com/chebotarevsa/dap-2024).
- Название pull request имеет формат: <Номер лабораторной работы> <Номер группы> <ФИО>.
5. Сдали работу в системе *Пегас*, в отчете указали ссылку на pull request.

**Ссылка на репозиторий GitHub (лабораторная работа №4): [https://github.com/ALEXANDER-ALLIS/dap-2024/tree/main/les04](https://github.com/ALEXANDER-ALLIS/dap-2024/tree/main/les04).**

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом. К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

In [ ]:
import numpy as np
import pandas as pd

### Задание №1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец «PassengerId»

In [9]:
import numpy as np
import pandas as pd

passengers = pd.read_csv( 'titanic.csv', index_col = 'PassengerId' )

print(passengers)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

### Задание №2. Просмотрите первые 6 строк

In [10]:
print(passengers.iloc[0:6])

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

### Задание №3. Выведите описание данных

In [11]:
# print(passengers.describe())
# print(passengers.info())

print("Shape:", passengers.shape)
print("\nDtypes:\n", passengers.dtypes)
print("\nMissing values:\n", passengers.isna().sum())
print("\nNumeric description:\n", passengers.describe())
print("\nCategorical description:\n", passengers.describe(include=['object','category']))
print("\nTop values for 'Survived':\n", passengers['Survived'].value_counts())
print("\nSample rows:\n", passengers.head())
print("\nDuplicate rows:", passengers.duplicated().sum())

Shape: (891, 11)

Dtypes:
 Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

Missing values:
 Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

Numeric description:
          Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Categorical description:
                        Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

Top values for 'Survived':
 Survived
0    549
1    342
Name: count, dtype: int64

Sample rows:
              Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

Duplicate rows: 0

### Задание №4. Сколько мужчин / женщин находилось на борту?

In [22]:
passengers.loc[:, 'Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

### Задание №5. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [26]:
# passengers.loc[:, 'Pclass'].value_counts().sort_index() # распределение переменной Pclass

passengers.loc[:, ['Sex','Pclass']].value_counts().sort_index() # распределение переменной мужчин / женщин

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: count, dtype: int64

### Задание №6. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [28]:
print("Медиана", passengers['Fare'].median())
print("Среднеквадратичное отклонение", passengers['Fare'].std())

Медиана 14.4542
Среднеквадратичное отклонение 49.693428597180905

### Задание №7. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [33]:
young = passengers[passengers['Age'] < 30]
old = passengers[passengers['Age'] > 60]

young_survived_rate = young['Survived'].mean()
old_survived_rate = old['Survived'].mean()

print("Молодые (Age<30):", young.shape[0], ", доля выживания:", young_survived_rate*100, "%")
print("Пожилые (Age>60):", old.shape[0], ", доля выживания:", old_survived_rate*100, "%")

Молодые (Age<30): 384 , доля выживания: 40.625 %
Пожилые (Age>60): 22 , доля выживания: 22.727272727272727 %

### Задание №8. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [41]:
# passengers.loc[:, ['Sex','Survived']].value_counts()

# passengers.groupby('Sex')['Survived'].mean()

counts = passengers.groupby('Sex')['Survived'].agg(['sum','count']).rename(columns={'sum':'survived','count':'total'})
counts['survival_rate'] = counts['survived'] / counts['total']

print(counts)

        survived  total  survival_rate
Sex
female       233    314       0.742038
male         109    577       0.188908

### Задание №9. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [51]:
import re

men = passengers[passengers['Sex']=='male']['Name'].dropna()

def first_name(full):
    # взять часть после запятой, убрать обращение (до точки) и скобки, затем первое слово
    s = re.sub(r'$.*?$', '', full.split(',',1)[1])      # часть после фамилии, убрать скобки
    s = re.sub(r'^\s*\w+\.\s*', '', s)                  # убрать Title. (например "Mr.")
    return s.split()[0]

names = men.map(first_name)
print(names.value_counts().nlargest(1))

Name
William    35
Name: count, dtype: int64

### Задание №10. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:
1. В среднем мужчины 1-го класса старше 40 лет.
2. В среднем женщины 1-го класса старше 40 лет.
3. Мужчины всех классов в среднем старше женщин того же класса.
4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса.

In [65]:
m = passengers.groupby(['Pclass','Sex'])['Age'].mean()

print("В среднем мужчины 1-го класса старше 40.", m.loc[(1,'male')] > 40)

print("В среднем женщины 1-го класса старше 40.", m.loc[(1,'female')] > 40)

conds = []
for cls in [1,2,3]:
    conds.append(m.loc[(cls,'male')] > m.loc[(cls,'female')])
print("Мужчины всех классов в среднем старше женщин того же класса.", all(conds))
for cls, res in zip([1,2,3], conds):
    print(f"В {cls} классе: мужчины старше чем женщины. {res}")

avg_by_class = passengers.groupby('Pclass')['Age'].mean()
print("Возраст: 1 класс, 2 класс, 3 класс:", (avg_by_class.loc[1] > avg_by_class.loc[2]) and (avg_by_class.loc[2] > avg_by_class.loc[3]))
print(avg_by_class)

В среднем мужчины 1-го класса старше 40. True
В среднем женщины 1-го класса старше 40. False
Мужчины всех классов в среднем старше женщин того же класса. True
В 1 классе: мужчины старше чем женщины. True
В 2 классе: мужчины старше чем женщины. True
В 3 классе: мужчины старше чем женщины. True
Возраст: 1 класс, 2 класс, 3 класс: True
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

### Задание №11. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [69]:
df = passengers.dropna(subset=['Age','Survived'])

# средний возраст по статусу выживания (0 = погиб, 1 = выжил)
mean_by_survived = df.groupby('Survived')['Age'].mean()
print(mean_by_survived)

# проверить утверждение "средний возраст погибших выше"
dead_mean = mean_by_survived.loc[0]
alive_mean = mean_by_survived.loc[1]
print("Мертвых > Выживших ?", dead_mean > alive_mean)
print(f"Мертвых: {dead_mean:.2f}, Живых: {alive_mean:.2f}")

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64
Мертвых > Выживших ? True
Мертвых: 30.63, Живых: 28.34